@font-face {
  font-family: "Simplifica";
  src: url("SIMPLIFICA\ Typeface.ttf");
}

body {
  margin: 0;
  min-height: 100vh;

  /* Give your page a fun background color */
  background-color: rgb(39, 47, 39);

  color: white;

  display: flex;
  flex-flow: column;
}

header {
  color: rgb(39, 47, 39);
  font: 3rem 'Simplifica';
  /* Make the header and footer a different color from the background */
  background-color: rgb(127, 255, 191);
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* Align the h1 containing your name in the center of the header*/
  align-items: center;
}

header h1 {
  margin: 32px;
}

.content {
  flex: auto;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

figure {
  margin: 16px;

  display: flex;
  flex-flow: column;
  align-items: center;
}

/* Note:
    I did not figure the whole squaring a rectangular image thing out myself;
    I found it on Stackoverflow and it's still basically magic to me */
.img-container {
  position: relative;

  width: 100%;
  max-width: 40vh;
}

.img-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.img-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* Put a border around your image */
  border: 4px solid white;
  box-sizing: border-box;
  border-radius: 50%;
}

.about {
  /* Change the font-family of your list */
  font-family: 'Courier New', Courier, monospace;

  display: flex;
  flex-flow: column;
  align-items: center;
}

footer {
  padding: 24px;

  /* Make the header and footer a different color from the background */
  background-color: rgb(47, 55, 47);

  /* Make your p tag a different color and italic */
  color: rgb(127, 127, 127);

  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 0.5rem;
}

footer p {
  margin: 0;
}

footer .quote {
  margin-left: 1rem;

  /* Make your p tag a different color and italic */
  font-style: italic;

  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 4px;
}

footer .quote .content {
  margin-right: 1rem;
}

footer .quote .attribute {
  align-self: flex-end;
}
